---
layout: default
---

<div style="text-align: center; margin-top: 120px; margin-bottom: 60px">
  <h1>{{ site.title }}</h1>
</div>

<h3>Science and Technology</h3>

<ul class="ul-gray">
{% for book in site.books%}
  {% if book.topic == "techno" %}
    {% if book.borrowed_by %}
       <li>{{ book.name }}, <span class="label label-warning">borrowed</span>({{ book.borrowed_by }})</li>
    {% else %}
      <li>{{ book.name }}</li>
    {% endif %}
  {% endif %}
{% endfor %}
</ul>

<h3>Business</h3>

<ul class="ul-gray">
{% for book in site.books%}
  {% if book.topic == "business" %}
    {% if book.borrowed_by %}
       <li>{{ book.name }}, <span class="label label-warning">borrowed</span>({{ book.borrowed_by }})</li>
    {% else %}
      <li>{{ book.name }}</li>
    {% endif %}
  {% endif %}
{% endfor %}
</ul>