/*-------------------------------*/
/*----Default settings----*/

/*Fonts*/
h1, h2, h3, h4, h5, h6, p, div, a {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 26px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 16px;
  text-align: justify;
}

/*--Clickable links--*/
a:focus {
  outline: 0;/*remove dotted outline boxes on links*/
  outline-offset: 0;
}

a {
  color: #01afee;/*all clickable links are in blue.*/
}

a:hover {
  color: #01afee !important;/*When hovered, links remain blue*/
  text-decoration:none;/*When hovered, links are not underlined*/
}

/*--Vertically center two divs--*/
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

/*---Footer---*/
.footer {
  text-align: center;
}

.footer li {
  display: inline;
  margin: 5px;
}

/*--Navbar--*/
.navbar {
  background-color: transparent;
  background: transparent;
  margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
  color: #585858 ;
  font-size: 16px;
}

.nav li {
  display: inline;/*display navbar items*/
}

.nav li a.current {
  color: #01afee;/*color selected navbar item*/
}

.navbar-default {
  box-shadow: none;
}

/*--Images--*/
.img-responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.img-narrow {
  max-width: 500px;
}

/*----End of default settings----*/
/*-------------------------------*/

/*---Content---*/
/*--Header, see header.html--*/
.header {
  text-align: center;
  color: white;
  background-color: #01afee;
}

#center-parent {
  padding: 0.5% 0;
}

#center-child {
  padding: 1% 0;
}

/*Content*/
.narrow .container {
  max-width: 800px;
}

.post-content {/*max-width applied to content*/
  text-align: justify;
}
/*--End of Content--*/

/*--About--*/

#about p {
  text-align: center;
}

/*--End of About--*/

/*Grid layout*/
.row {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100%;
}

.grid {
  padding-top: 15px;
}

.posts > h3 > a {
  color: #808080;
}
