---
layout: default
---

<!DOCTYPE html>

<html lang="en">
<head>

  <title>{{ site.title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ site.host_url }}/static/images/website/kbird.ico" rel="shortcut icon">
  <link href="{{ site.host_url }}/static/css/main.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans|Montserrat' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>

  {% include nav.html %}
  <div class="container-fluid">
    <div class="container narrow">
      {{ content }}
    </div>
  </div>

</body>

{% include google-analytics.html %}

</html>